<%- include('./partials/header') %>
<div class="container">
  <h3>My book list</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">Book Name</th>
        <th scope="col">Author</th>
      </tr>
    </thead>
    <tbody>
      <% for(let i = 0; i < data.Books.length; i++) { %>
        <tr>
          <td><%= i+1 %></td>
          <td><%= data.Books[i].book_name %> </td>
          <td><%= data.Books[i].author_name %> </td>
          <td>
              <a href="/account/cancel/<%= data.Books[i].Transactions.BookId %>" class="btn btn-success">Delete Transaction</button>
          </td>
        </tr>
        <% } %>
      </tbody>
  </table>
</div>
<%- include('./partials/footer') %>